IT7302_MonopolyProject_21102588_JoshuaCandish/bin/Debug
IT7302_MonopolyProject_21102588_JoshuaCandish/obj/Debug
Tests/bin/Debug
Tests/obj/Debug
IT7302_MonopolyProject_21102588_JoshuaCandish.sln.DotSettings.User
IT7302_MonopolyProject_21102588_JoshuaCandish.v11.suo
